html {
    margin: 0;
    padding: 0;
    text-align: center;
}

.background {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbar {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
}

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 900px;
    color: #ffffff;
    margin-top: 28px;
  }

  h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 900px;
    color: #ffffff;
  }

  .container-lg {
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
  }

  .t1 {
    background-color: #E1E1E1;
    width: 220px;
    text-align: center;
    margin-top: 200px;
    border: solid;
    border-width: 2px 2px 16px 2px;
    border-color: #3A4147;
    box-shadow: 0 1px 5px #343A40, 0 3px 3px rgba(0, 0, 0, 0.3);

  }

  .t2 {
    background-color: #E1E1E1;
    width: 200px;
    text-align: center;
    margin-top: 200px;
    border: solid;
    border-width: 2px 2px 16px 2px;
    border-color: #3A4147;
    box-shadow: 0 1px 5px #343A40, 0 3px 3px rgba(0, 0, 0, 0.3);

  }

  .t3 {
    background-color: #E1E1E1;
    width: 200px;
    text-align: center;
    margin-top: 200px;
    border: solid;
    border-width: 2px 2px 16px 2px;
    border-color: #3A4147;
    box-shadow: 0 1px 5px #343A40, 0 3px 3px rgba(0, 0, 0, 0.3);
  }


  .p {
    margin: 15px;
  }

  ul#menu {
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
 





  }


  ul#menu li {
    background-color: #E33737;
    border: 2px solid #ffff;
    border-radius: 2px;
    display: inline-block;
    width: 170px;
    height: 40px;
    margin: 13px;
    text-align: center;



  }


  ul#menu li a {
    color: white;
    line-height: 35px;
    text-decoration: none;
    width: 240px;
    height: 60px;



  }

  ul#menu li.active,
  ul#menu li:hover {
    background-color: #343A40;
    border: 2px solid #E33737;
    box-shadow: 0 1px 15px rgba(173, 110, 52), 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }